.user-comm-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2vmin;
  padding: 2vmin;
  margin-left: 10vmin;
  box-shadow: 0px 0px 5px rgb(0, 64, 255);
  width: 90%;
}
.postCHead {
  font-size: larger;
  text-decoration: underline;
}
.iconCont {
  display: flex;
  flex-direction: column;
  margin: 4vmin;
  /* padding: 4vmin; */
}
.iconCont:hover {
  cursor: pointer;
}
#editBtn {
  margin-top: 4vmin;
}
#editBtn:hover {
  color: green;
  font-size: 3vmin;
  transition: 0.1s;
}
#deleteBtn:hover {
  color: red;
  font-size: 3vmin;
  transition: 0.1s;
}
